version: '3.9'

services:
  db:
    image: postgres:15
    container_name: inventory_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: inventory_backend
    restart: always
    ports:
      - 8000:8000
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/postgres
    volumes:
      - ./backend:/app
    working_dir: /app
  
  frontend:
    build: ./frontend
    container_name: inventory_frontend
    restart: always
    ports:
      - 3000:80
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
    working_dir: /app

volumes:
  postgres_data:
  